* {
  margin: 0px;
  padding:0px;
  font-family:sans-serif;
}
<div id ="toggle" style="background-color: grey; height: auto;border-radius: 10px;  margin-top:1%; margin-left: 1%; margin-right: 1%;">
    <table style="width: 100%">
    <tr style="font-weight: bold;">

        <th align=""> <a href="#" style="color: black;">My Info</a></th>
        <th align="middle"> <a href="#" style="color: black; padding-left: 10%;">Expenditure</a></th>
        <th align="middle"> <a href="#" style="color: black;">Payment Reminders</a></th>

        <th align="middle"><a href="#" style="color: black;">Projections</a></th>
        <th align="middle"><a href="#" style="color: black;">Offers and Schemes</a></th>

        <th align="middle"><a href="#" style="color: black;">Tips</a></th>

        <th align="middle"><a href="#" style="color: black;">Contact Macquarie</a></th>

        <th align="middle"> <a href="Home.html" style="color: black; align=right;">LogOut</a></th>
    </tr>
    </table>
</div>